/*========= Common ========= */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{ margin: 0; padding: 0; background: #0d0d0d; font-family: "Inter", sans-serif;font-size: 16px; color: #fff;}
.container { max-width: 98%;}
.subHeading {font-size: 45px !important;font-weight: 600 !important;color: #fff;text-align: center;}
.subHeading span {color: #00fcdb;}

/*======= header ====== */
.header-main img.mainLogo {width: 220px;}
.header-main {padding: 15px 0; background: #000;}
.header-main .header-links {align-content: center;column-gap: 40px;display: flex;padding-top: 20px;}
.header-main .header-links a {color: #02dcbf;display: inline-flex; transition: all 0.4s ease 0s;text-decoration: none; font-size: 16px; font-weight: 400}
.header-main .header-links a:hover{color:#fff; transition: all 0.4s ease 0s; }
.header-main .header-links a > svg { margin-right: 3px}
.header-main .header-buttons .btn {background: transparent;border: 2px solid #fff;border-radius: 10px;font-size: 16px;text-transform: capitalize; transition: all 0.4s ease-out 0s; background: #fff; color: #000;}
.header-main .header-buttons .btn.signUp {background: #00fcdb;color: #000;font-weight: 700;}
.header-main .header-buttons .btn:hover{transition: all 0.4s ease-in 0s; background: #02dcbf; color: #353535;}
.header-main .header-buttons {display: flex;column-gap: 12px;align-items: center;justify-content: flex-end;}


/* ======== Home ======== */
.subscription {text-align: center;color: #fff;background: #e04b2e;padding: 10px;display: flex;justify-content: center;align-items: center;}
.subscription span.off {background: #000;margin: 0 15px;padding: 3px 10px 5px;border-radius: 50px;font-size: 14px;}
.subscription span.timer {column-gap: 10px;display: inline-flex;}
.subscription span.timer > span.count {display: inline-flex;flex-direction: column;}
.subscription span.timer > span.count > span {font-size: 10px;}
.home-content .home-left-container {padding: 10px 35px;}
.home-content .home-left-container .home-left {background: #000;padding: 30px;border-radius: 10px;}
.home-left-nav {background: #000;padding: 30px !important;border-radius: 20px;}
.home-left-nav ul.menu-list li a {color: #fff;}
.home-left-nav ul.menu-list li a .css-cokf1l-MuiListItemIcon-root { min-width: 42px}
.home-left-nav ul.menu-list hr{background: #181818;}
.home-left-nav .nav-btn-lft {text-align: center;}
.home-left-nav .nav-btn-lft .btn {background: #00fcdb;color: #000;font-weight: 600;text-transform: capitalize;font-size: 18px;padding: 10px 20px 8px;border-radius: 10px;}
.home-right img.home-banner {width: 100%;}
.home-right {padding-right: 50px;margin-top: 20px;}
.featuedPosts {margin: 50px 0 120px;row-gap: 30px !important;}
.featuedPosts .featuedBlock {border-radius: 26px;overflow: hidden;position: relative;min-height: 456px;background-position: top center; background-size: cover;}
.featuedPosts .featuedBlock img {width: 100%;}
.featuedPosts .featuredContent {display: flex;color: #fff;position: absolute;bottom: 15px;left: 20%;width: 80%;column-gap: 31px;padding: 0;align-items: center;justify-content: space-between;
    margin-left: -10%;}
.featuedPosts .featuredActions {display: inline-flex; column-gap: 10px;}
.featuedPosts .featuredActions .featuredBtn {border-radius: 30px;font-size: 13px;padding: 3px 10px;background: linear-gradient(180deg, #EA2429 0%, #B51831 100%);text-transform: capitalize;font-weight: 600;font-family: 'Inter';}
.featuedPosts .featuredActions .featuredBtn > img {width: 18px !important;margin-right: 4px;}
.featuedPosts .featuredActions .featuredBtn.createBtn {background: #00fcdb;color: #000;}
.infoSect .featuredImage {height: 378px;width: 455px;background-size: cover;background-repeat: no-repeat;background-position: right top;border-radius: 29px;}
.infoSect {background: linear-gradient(97.27deg, #00FCDB -58.54%, #000000 106.84%);padding: 30px 35px;border-radius: 29px;column-gap: 45px;position: relative;margin-bottom: 120px;}
.featuedBlock h2 {margin-top: 40px;}
.infoSect .desc {padding-right: 70px; padding-left: 30px;}
.infoSect .desc h2 a {font-size: 36px;font-weight: 400;margin-bottom: 15px; color: #fff;text-decoration: none;display: inline-block;}
.infoSect .desc h2 a > span {font-weight: 700;color: #00fcdb;}
.infoSect .desc p {font-weight: 200;line-height: 22px;}
.infoSect .desc .tryBtn {border-radius: 100px;margin-top: 20px;background: #00fcdb;color: #000;text-transform: capitalize;font-weight: 600;padding: 5px 25px;box-shadow: none;}
.infoSect .hangImg {position: absolute;top: 0;height: 500px;right: 50px;top: -60px;}
.infoSect.rgtImg {text-align: right;}
.infoSect.rgtImg .desc {padding: 0 30px 0 220px;}
.infoSect.rgtImg  .hangImg {left: 40px;}
.homeBlogs {row-gap: 50px;}
.blogBlock .featuredImg {width: 242px;height: 352px;border-radius: 15px;background-repeat: no-repeat;background-size: cover;background-position: top center;}
.blogBlock {border: 1px solid #00a18b;padding: 25px;border-radius: 21px;}
.blogBlock .desc h2 a {color: #02dcbf;text-decoration: none;}
.blogBlock .desc p {font-weight: 200;font-size: 16px;line-height: 31px;}
.blogBlock .desc h2 {line-height: 32px;margin-bottom: 0px;}
.blogBlock .desc h4 {margin: 15px 0 0;font-weight: 500;line-height: 23px;}
.faqSection { margin: 50px 0 120px}
.faqBlock .MuiAccordion-gutters {background: linear-gradient(268deg, #02DCBF 0%, #017666 100%);color: #fff;}
.faqBlock .MuiAccordion-gutters .heading { font-size: 26px}
.faqBlock .MuiAccordion-gutters svg.MuiSvgIcon-root {transform: rotate(267deg); font-size: 42px;}
.faqBlock .MuiAccordion-gutters .Mui-expanded svg.MuiSvgIcon-root {transform: rotate(180deg);}
.faqBlock .MuiAccordion-gutters p {font-family: 'Inter';font-size: 16px;}


/* ========= Footer ========= */
footer.footer-main .container {width: 80%;margin-left: 15%;}
footer.footer-main { background: #000; padding: 50px 0;}
footer.footer-main img.mainLogo {width: 180px; margin-top: 35px;}
footer.footer-main p { font-size:14px; color: #A8ACB7; font-weight: 200; width: auto;}
footer.footer-main ul { list-style: none; padding-left: 0;}
footer.footer-main ul li {margin: 10px 0;}
footer.footer-main ul li a {color: #A8ACB7; text-decoration: none; font-size: 13px;}
footer.footer-main .adrs .footerLink li {display: flex;align-items: flex-start;}
footer.footer-main .adrs .footerLink li img {margin-right: 10px;width: 15px; margin-top: 2px;}
footer.footer-main .nwsLtrForm .nwsLtrInputWrapper{background: #0d0d0d;padding: 8px !important;margin: 0 !important;display: inline-flex;width: auto;border-radius: 15px;overflow: hidden;}
footer.footer-main .nwsLtrForm .nwsLtrInputWrapper .MuiFormLabel-root{color: #a8a9b1 !important; font-size:13px}
footer.footer-main .nwsLtrForm .nwsLtrInputWrapper input{padding:15px;font-size:14px;color:#a8a9b1;border: none;}
footer.footer-main .nwsLtrForm .nwsLtrInputWrapper input:focus,footer.footer-main .nwsLtrForm input:focus-visible{ outline: none;}
footer.footer-main .nwsLtrForm .nwsLtrInputWrapper a {margin: 0; width: 80px; background: #00fcdb; color: #000; text-transform: capitalize;}
footer.footer-main .nwsLtrForm .css-1umw9bq-MuiSvgIcon-root { fill: rgb(96 95 95 / 60%) !important;}
footer.footer-main .nwsLtrForm p {margin: 0}
footer.footer-main .nwsLtrForm p > a {color: #a8a9b1; text-decoration: underline;}
